[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
httpx = "*"
pandas = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
djangorestframework = "*"
django-filter = "*"
gunicorn = "*"
whitenoise = "*"
geopandas = "*"
geopy = "*"
apache-airflow = "==2.8.0"

[dev-packages]

[requires]
python_version = "3.8"
